<form action="#" method="post">
  <em>
  </div>
  <div id="dk">
    <div id="nd">
    <table width="600px">
      <tr>
      <div class="tt">
        <td widht="200"><label for="nn"> Họ Tên (<span style="kihieu">*</span>)</label></td>
        <td width="400" ><input type="text" name="hoten" class="input1"/>
      </div>
      </td>
    </div>
  </tr>
  <tr>								 
    <div class="tt">								
      <td widht="200"><label for="nn">Tên Đăng Nhập (<span style="kihieu">*</span>) </label></td>
      <td width="400" ><input type="text" name="tdn" class="input1"/></div>
        <!--<p class="xacnhanten">Ten dang nhap da ton ta.</p>-->								
      </td>
  </div>
  </tr>
  <tr>
  <div class="tt">
  <td widht="200"><label for="nn">Mật Khẩu (<span style="kihieu">*</span>) </label></td>
  <td width="200" ><input type="password" name="mk" class="input1"/></div></td>							 
</div>							 
</tr>							 
<tr>

<div class="tt">							 
  <td width="200" ><label for="nn">Xác nhận mật khẩu (<span style="kihieu">*</span>)</label></td>							 
  <td width="400" ><input type="password" name="xnmk" class="input1"/></div>

    <!-- <p class="xacnhanten">Ten dang nhap da ton ta.</p>-->							  
  </td>							 
</div>							
</tr>	
<tr>	
<div class="tt"></div>	
<td width="200" ><label for="nn">Giới Tính: </label></td>				
<td width="400" ><span style="font-size:20px;color:#000;margin-left:36px;padding:5px 5px;"><input type="radio" name="gioitinh" value="1" checked="checked"/>Nam				
  <input type="radio" name="gioitinh" value="0" />Nu</span>				
</td>				
</div>				
</tr>								
<tr>		
  <div class="tt">					
    <td width="200" ><label for="nn">Email: </label></td>									
    <td width="400" ><input type="text" name="email" class="input1"/></td>								
  </div>					
</tr>
<tr>
  <div class="tt">					
<td width="200" ><label for="nn">Địa Chỉ </label></td>	
<td width="400" ><textarea name="diachi" style="font-size: 20px; color: rgb(0, 0, 0); margin-left: 38px; padding: 5px; width: 250px; height: 54px;font-family: serif"></textarea></td>
</div>
</tr>				
<tr>

<div class="tt">

  <td width="200" ><label for="nn">Xác nhận điều khoản</label></td>														
  <td width="400" ><div id="hide">

<input type="button" value="Hide" class="hide" style="font-size:15px;color:#000;margin-left:36px;padding:2px 0px;"/>

<input type="button" value="Show" class="show" style="font-size:15px;color:#000;padding:2px 0px;"/>		
</div>						
<div id="tt-dkhoan">				
<input type="button" id="dieukhoan" value="Đọc điêu khoản" style="font-size:15px;color:#000;margin-left:36px;padding:2px 2px;"/></br>			
</div>					
<span style="font-size:20px;color:#000;margin-left:36px;padding:5px 5px;"><input type="checkbox" value="xacnhan_dk" name="xacnhan_dieukhoan" />Tôi chấp nhận điều khoản.</span>					
</td>	
</div>			
</tr>				
<div class="form-sub-w3">					
<td>Avatar</td>>						
<td>

<input type="file" name="Avatar">					
  </td>						
  <div class="icon-w3">				
</div>										
<tr>					
<div class="tt">						
  <td colspan="2" align ="center"><input type="submit" name="xn" class="nut" value="Đăng Ký">					
    <input type="reset" name="huy" class="nut" value="Hủy"/></td>					
  </div>
</tr>									
</table>				
</div>				
</div><!--ket thuc dk-->						
</div><!---ket thuc nen-->
</form>	




=======


<!DOCTYPE html>
<html lang="en">
<head>
<title>Trang Đăng Ký </title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Glassy Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<meta http-equiv="refresh" content="5;url=http://127.0.0.1:5500/xuly.html">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
<!-- //css files -->
<!-- web-fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body>
		<!--header-->
		<div class="header-w3l">
			<h1> Trang Đăng Ký </h1>
			<form method="POST" action="xuly.php" method="post" enctype="multipart/form-data">
		</div>
		<!--//header-->
		<!--main-->
		<div class="main-w3layouts-agileinfo">
			<!--form-stars-here-->
						<div class="wthree-form">
							<h2>Điền vào mẫu dưới đây để đăng ký</h2>
										
							<form action="xuly.php" method="POST">
								<table cellpadding="0" cellspacing="0" border="1">
									<tr>
										<td>
											Tên đăng nhập : 
										</td>
										<td>
											<input type="text" name="txtUsername" size="30" />
										</td>
									</tr>
									<tr>
										<td>
											Mật khẩu :
										</td>
										<td>
											<input type="password" name="txtPassword" size="30" />
										</td>
									</tr>
									<tr>
										<td>
											Email :
										</td>
										<td>
											<input type="text" name="txtEmail" size="30" />
										</td>
									</tr>
									<tr>
										<td>
											Họ và tên :
										</td>
										<td>
											<input type="text" name="txtFullname" size="30" />
										</td>
									</tr>
									<tr>
										<td>
											Ngày sinh :
										</td>
										<td>
											<input type="text" name="txtBirthday" size="30" />
										</td>
									</tr>
									<tr>
										<td>
											Giới tính :
										</td>
										<td>
											<select name="txtSex">
												<option value=""></option>
												<option value="Nam">Nam</option>
												<option value="Nu">Nữ</option>
											</select>
											
										</td>
														
									</tr>
								</table>				
									<td>Hình Ảnh</td>						
									<td>
										<input type="file" name="Avatar">					
									</td>	
									<div></div>	
								<input type="submit" value="Đăng ký" />
								<input type="reset" value="Nhập lại" />
							</form>

						</body>
						</div>
				<!--//form-ends-here-->
		</div>
		<!--//main-->
		<!--footer-->
		<div class="footer">
			<p>&copy; Template Login Form. All rights reserved | Design by <a href="http://gmail.com">BML</a></p>
		</div>
		<!--//footer-->
</body>
</html>
ajsdha



